{
  "plugins": ["stylelint-order", "stylelint-prettier"],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-sass-guidelines"
  ],
  "overrides": [
    {
      "files": ["**/*.scss"],
      "customSyntax": "postcss-scss"
    },
    {
      "files": ["src/style.css", "src/home.css"],
      "rules": {
        "selector-class-pattern": null,
        "color-named": null,
        "declaration-property-value-disallowed-list": null,
        "selector-no-qualifying-type": null,
        "property-no-vendor-prefix": null,
        "@stylistic/function-parentheses-space-inside": null,
        "@stylistic/string-quotes": null
      }
    }
  ],
  "rules": {
    "prettier/prettier": true,
    "no-descending-specificity": null,
    "max-nesting-depth": 2,
    "selector-max-id": 1,
    "order/properties-alphabetical-order": true
  }
}
