# Ignore root node modules
node_modules/

# Python artifacts
__pycache__/
*.pyc

# Common editor files
.vscode/

#gis files
datascience/gis/__pycache__/
datascience/gis/*.pyc
datascience/gis/.vscode/
datascience/gis/.DS_Store
datascience/gis/.env
datascience/gis/keys
datascience/gis/assets