repos:
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

-   repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: bash -c "cd backend && just test"
        language: system
        pass_filenames: false
        always_run: true