name: Frontend CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-test-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Use Node.js 24
        uses: actions/setup-node@v3
        with:
          node-version: '24'

      - name: Install dependencies
        run: npm install
        working-directory: frontend

      - name: Build frontend
        run: npm run build
        working-directory: frontend

      - name: Run tests
        run: npm run test
        working-directory: frontend

      - name: Lint scripts
        run: npm run lint:scripts
        working-directory: frontend

      - name: Lint styles
        run: npm run lint:styles
        working-directory: frontend

      - name: Check scripts formatting
        run: npm run format:scripts -- --check
        working-directory: frontend

      - name: Check styles formatting
        run: npm run format:styles -- -- check
        working-directory: frontend
