# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: POT Python infrastructure 

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v6
      with: 
          version: "0.9.11"
          enable-cache: true

    - name: Set up Python
      run: uv python install 

    - name: Install backend dependencies
      working-directory: backend
      run: |
        uv sync

    - name: Lint with ruff
      working-directory: backend
      run: |
        uv run ruff check .

    - name: Test with pytest
      working-directory: backend
      run: |
        uv run pytest

    - name: Install datascience dependencies
      working-directory: datascience
      run: |
        uv sync

    - name: Lint with ruff
      working-directory: datascience
      run: |
        uv run ruff check .

    - name: Test with pytest
      working-directory: datascience
      run: |
        uv run pytest
